@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokemon-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: 0.3s;
}

.pokemon-card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.card-content-list{
  padding-bottom: 10% !important;
}

.card-container-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 2%;
  align-items: stretch;
}

.card-container-list .MuiCard-root {
  flex: 1;
  min-width: 150px;
}

.battle-camp-container{
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  gap: 5%;
}

.line-progress-bar-box-container{
  margin-top: 2%;
}

.style-green-button {
  color: white !important;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.color-button-active{
  background-color: #4caf50 !important;
}


.green-button:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.winner-announcement {
  background-color: #e3f2fd;
  border: 1px solid #90caf9;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  margin: 20px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.winner-text {
  color: #0d47a1;
  font-weight: bold;
}

.pokemon-container img {
  width: 100%;
  transition: filter 0.3s ease;
}

.pokemon-container img {
  transition: filter 0.3s ease;
}

.pokemon-container.loser img {
  filter: grayscale(100%);
}